LAMBDA_EXECUTION_ROLE=arn:aws:iam::ACCOUNT_NUMBER:role/lambda_basic_execution
AWSCLI_DEFAULT_PROFILE=default
AWSCLI_BOOTSTRAP_PROFILE=dangerous_profile_with_iam_policy_permissions
AWSCLI_LAMBDA_UPLOAD_PROFILE=${AWSCLI_DEFAULT_PROFILE}
AWSCLI_LAMBDA_LIST_PROFILE=${AWSCLI_DEFAULT_PROFILE}
AWSCLI_LAMBDA_INVOKE_PROFILE=${AWSCLI_DEFAULT_PROFILE}
